<!DOCTYPE html>
{% extends 'shop/base.html'%}
{% load static %}
{% block title %} pay your order {% endblock %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Order Summary</h1>
<table class="vart">
    <thead>
    <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    {% for item in order.items.all %}
    <tr class="row{% cycle '1' '2' %}">
        <td> <img src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"> </td>
        <td>{{item.product.name}}</td>
        <td class="num">${{item.price}}</td>
        <td class="num">${{item.quantity}}</td>
        <td class="num">${{item.get_cost}}</td>
    </tr>
    {% endfor %}
    <tr class="total">
        <td colspan="5">Total</td>
        <td class="num">${{order.get_total_cost}}</td>
    </tr>
    </tbody>
</table>
<form action="{%url 'payment:process' %}" method="post">
    {% csrf_token%}
    <input value="Pay Now" type="submit">
</form>
</body>
</html>
{% endblock %}

